<div id="<%= dom_id client %>">
  <p>
    <strong>Name:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= client.account %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= client.password %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= client.email %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= client.message %>
  </p>

</div>
